@page
@model MediaBrowser.Pages.AboutModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container py-5">
    <header class="text-center mb-5">
        <h1>About This Project</h1>
        <p class="lead">Discover the Future of Entertainment</p>
    </header>

    <section class="mb-4">
        <h2 class="mb-3">AI-Generated Cinematic Universe</h2>
        <p>
            In a groundbreaking blend of technology and creativity, our platform redefines the
            cinematic experience. Every movie, piece of content, and poster on this website has
            been generated using Azure OpenAI's sophisticated AI technology. Our journey
            leverages the power of artificial intelligence to craft stories and visuals that
            captivate and inspire.
        </p>
        <p>
            Azure OpenAI serves as our canvas and toolset, enabling us to generate not only
            unique storylines but also breathtaking posters and engaging content. This synergy
            of AI and artistry introduces a new era of digital storytelling where imagination
            knows no bounds.
        </p>
    </section>

    <section class="mb-5">
        <h2 class="mb-3">Innovation Meets Creativity</h2>
        <p>
            Our mission is to push the boundaries of what AI can achieve in the realm of
            entertainment. By harnessing the capabilities of Azure OpenAI, we create
            mesmerizing narratives and visual art that stand at the forefront of digital
            media. Each creation is a testament to the innovative possibilities that emerge
            when technology meets creativity.
        </p>
        <p>
            Experience a world where each movie and poster is a portal to a universe crafted
            by the fusion of AI and human creativity, offering a glimpse into the future of
            storytelling and design.
        </p>
    </section>

    <section class="mb-5">
        <h2 class="mb-3">Learn More</h2>
        <p>
            To learn more about the process used to generate the movies, posters, and content
            on this site <a href="https://github.com/Battlecabbage-Media/media-generator">check out our GitHub Page</a>.
        </p>
    </section>
</div>
