@page
@model MediaBrowser.Pages.Actors.DetailsModel

@{
    ViewData["Title"] = Model.Actor.Actor1;
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>@Html.DisplayFor(model => model.Actor.Actor1)</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Stars In
        </dt>
        <dd class="col-sm-10">
            @foreach (var movie in Model.Actor.Movies)
            {
                <div><a asp-page="/Movies/Details" asp-route-id="@movie.MovieId">@movie.Title</a></div>
            }
        </dd>
    </dl>
</div>
